<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Shopping List Hakkında</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    
                    <p>
                        Shopping List ile alışverişiniz için farklı listeler hazırlayabilir, listelerinize ürünler ekleyebilir ve çıkarabilirsiniz. Alışveriş
                        listesi hazırlamanın sizin için faydaları:
                    </p>
                    <ul class="featured-list">
                        <li><a href="#">Eğer liste hazırlarsanız daha hızlı alış veriş yaparak zamandan tasarruf edersiniz.</a></li>
                        <li><a href="#">Unuttuğunuz ürünler için tekrar tekrar markete gitmek zorunda kalmazsınız.</a></li>
                        <li><a href="#">Alışveriş listesine uyarsanız gereksiz harcamalarınızı önlemiş olursunuz.</a></li>

                    </ul>

                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="/images/feature-image.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
