@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">

<head>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Shopping List</title>


   
 

</head>

<body>
    @await Component.InvokeAsync("_Banner")

    @await Component.InvokeAsync("_About")

</body>

</html>
