<div class="banner header-text">
    <div class="owl-banner owl-carousel">
        <div class="banner-item-01" >
            <div class="text-content">
                <h4>Shopping List ile</h4>
                <h2>Kendi Alışveriş Listenizi Oluşturun</h2>
            </div>
        </div>
      
    </div>
</div>
